@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary */
  --softRed: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --darkDesaturatedCyan: hsl(167, 40%, 24%); /* (graphic design text) */
  --darkBlue: hsl(198, 62%, 26%); /* (photography text) */
  --darkModerateCyan: hsl(168, 34%, 41%); /* (footer) */

  /* Neutral */
  --veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
  --veryDarkGrayishBlue: hsl(213, 9%, 39%);
  --darkGreyishBlue: hsl(232, 10%, 55%);
  --grayishBlue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

body,
html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  font-size: 18px;
  font-family: Fraunces;
}

nav {
  @apply flex justify-around items-center ml-7 mr-7 mt-7 w-[100%] absolute top-0 left-0 z-10 overflow-hidden;
}

.navLinks {
  @apply flex gap-10 justify-center items-center;
}

.navbar__menu {
  @apply flex justify-between items-center gap-7 text-[color:var(--white)];
}

.navbar__menu-items {
  @apply cursor-pointer hover:text-[color:var(--darkModerateCyan)];
}

.navbar__button {
  @apply text-[color:var(--veryDarkDesaturatedBlue)] bg-[color:var(--white)] hover:bg-[color:var(--darkModerateCyan)] hover:text-[color:var(--white)] font-semibold font-fraunces rounded-full text-xs px-5 py-2.5 mr-2 mb-2;
}

.header {
  @apply overflow-hidden bg-cover h-screen  bg-center bg-no-repeat flex justify-around items-center flex-col font-fraunces;

  letter-spacing: 10px;
}

.heading__header {
  @apply uppercase z-20 text-[color:var(--white)]  text-4xl;
}

.section__content {
  @apply grid grid-cols-2 font-fraunces;
}

.flex__content {
  @apply flex items-start justify-center p-20 pr-36 flex-col gap-8;
}

.button__content {
  @apply uppercase relative;
}

.button__content::before {
  content: '';
  position: absolute;
  left: 65px;
  bottom: 2px;
  width: 135px;
  height: 5px;
  transform: skew(-12deg) translateX(-50%);
  background: var(--yellow);
  z-index: -1;
}

.button__content2 {
  @apply uppercase relative;
}

.button__content2::before {
  content: '';
  position: absolute;
  left: 65px;
  bottom: 2px;
  width: 135px;
  height: 5px;
  transform: skew(-12deg) translateX(-50%);
  background: var(--softRed);
  z-index: -1;
}

.content__last {
  @apply absolute flex flex-col justify-end items-center top-60 left-0 p-40 text-center;
}

.flex-center {
  @apply flex justify-center items-center flex-col;
}

.section__testimonials {
  @apply p-32 gap-16;
}

.section__testimonials h2 {
  @apply uppercase font-fraunces text-lg text-[color:var(--darkGreyishBlue)];

  letter-spacing: 10px;
}

.section__testimonials-content {
  @apply flex gap-10;
}

.section__testimonials-single {
  @apply flex flex-col text-center items-center justify-between gap-8;
}

.testimonials-image {
  @apply rounded-full w-16 h-16;
}

.section__testimonials-single p {
  @apply font-barlow  flex-wrap;
}

.testimonials-job {
  @apply text-[color:var(--grayishBlue)] text-xs;
}

.testimonials-comment {
  @apply text-sm text-[color:var(--veryDarkGrayishBlue)] w-[85%] mb-9;
}
